affine
dask
Fiona
geopandas
ipython
matplotlib
netCDF4
numpy
pandas
pyproj
rasterio
requests
scikits.bootstrap
scipy
Shapely
toolz
xarray
git+https://github.com/OpenHydrology/lmoments3.git@d2f30733275b4f4d7b4e86c13fd193733820c724
